body{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
button{
  padding: 10px 20px;
  background: white;
  border: 2px solid gray;
  color: red;
  font-size: 20px;
  font-weight: 700;
}